<div *ngIf="equipo">



  <header [ngStyle]="{'background-image':'url( assets/equipos/'+ cod +'/main.jpg)'}" class="rk-portfolio-cover ">
    <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title ">{{equipo.equipo}}</h1>
    </div>
  </header>
  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
      <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
        <h2 class="rk-portfolio-inner-title "> Estadio : {{equipo.estadio}}</h2>
      </div>
    </div>
  </div>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <h3 class="ae-u-bolder">Entreandor : {{equipo.entrenador}}</h3>
        <h3 class="ae-u-bolder">Capitán : {{equipo.capitan}}</h3>
        <p class="ae-eta">{{equipo.historia}}</p>
      </div>
    </div>
  </div>
</div>
